.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background-color: darkgoldenrod;
    font-size: 20px;

    .column-name{
        padding: 20px;
    }
    th, td {
        padding: 20px;
        border: 1px solid white;
    }
    th{
        color: black;
        font-weight: 700;
        background-color: white;
        border: 1px solid darkgoldenrod;

    }
    .btnDelete{
        padding: 10px;
        border: 0.5px solid white;
        margin: 5px;
        width: 80px;
        border: 2px solid red;
        border-radius: 6px;
        color: red;
        background-color: white;
        cursor: pointer;
        
    }
    .btnEdit{
        padding: 10px;
        border: 0.5px solid white;
        margin: 5px;
        width: 80px;
        border: 2px solid rgb(3, 207, 31);
        border-radius: 6px;
        color: rgb(3, 207, 31);
        background-color: white;
        font-weight: 400;
        cursor: pointer;
    }
    .btnDelete:hover{
        background-color: antiquewhite;
        font-size: 15px;
    }

    .btnEdit:hover{
        background-color: rgb(219, 255, 219);
        font-size: 15px;
    }
}