<form>
  <div class="container">
    <div class="form-box">
      <label class="label">Employee Name</label>
      <input class="input" type="text" placeholder="Name" />
      <label class="label">Email id</label>
      <input class="input" type="text" placeholder="Email id" />
      <label class="label">Phone No.</label>
      <input class="input" type="text" placeholder="Phone No." />
      <label class="label">Address</label>
      <input class="input" type="text" placeholder="Address" />
      <label class="label">Department</label>
      <input class="input" type="text" placeholder="Department" />
      <button class="btn">Save</button>
    </div>
  </div>
</form>
