.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 450px;
    padding: 30px;
    border: 0;
    border-radius: 10px;
    background-color: darkmagenta;
    font-size: 15px;
    color: white;
   
    .input{
       
        width: 300px;
        padding: 13px;
        border: 0;
        border-radius: 5px;
        font-size: 12px;
        margin-bottom: 10px;
        
    }
    .label{
        padding: 10px;
        align-self: flex-start;
    }
    .btn{
        padding: 10px;
        width: 80px;
        margin: 10px auto 0;
        border: 0;
        border-radius: 5px;
        color: white;
        background-color: darkorange;
        font-size: 14px;
        font-weight: 500;
    }
    .formHeading{
        color: white;
        font-size: 25px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 6px;
        margin-bottom: 10px;
    }
}