.Appdiv{
    display: flex;
    flex-direction: column;
}
.btnclick{
    display: flex;
    flex-direction: row;
   
    
}
.view{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px 0 0 80px;

 
   
}